body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 'header header header' 'section section section' 'article article article' 'footer footer footer' 'copy copy copy';
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100vh 550px 500px 500px 30px;
    font-family: 'Arya', sans-serif;
}

header {
    grid-area: header;
}

.welcome {
    flex-direction: column;
    margin-top: -500px;
    width: 100%;
    top: 0;
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-family: 'Leckerli One', cursive;
    position: relative;
    z-index: 1;
}

.welcome h1::after {
    content: "";
    display: block;
    width: 150px;
    border-radius: 10px;
    height: 5px;
    background: #3E95BF;
    margin: 20px auto;
}

.welcome button {
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #3E95BF;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1em;
    color: #fff;
}

.welcome button a{
    text-decoration: none;    
}

.welcome button:hover {
    border: 2px solid #3E95BF;
}

.menu-aux {
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid #3E95BF;
    position: fixed;
}

.menu-aux ul a {
    color: #000;
}

.menu-aux ul a:hover {
    color: #3E95BF;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3E95BF;
    padding: 0 50px 0 50px;
    border-bottom: 1px solid #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav .logo {
    width: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

nav li {
    list-style: none;
    margin-right: 15px;

}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: .1em;
    color: #fff;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
}

nav ul a:hover {
    color: #000;
    transition: .5s;
}

.banner {
    width: 100%;
    height: 70vh;
    background-color: #fff;
}

.corOpc {
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
}

.banner img {
    width: 100%;
    height: 100vh;
}

section {
    grid-area: section;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

section.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .titulo {
    margin-top: 0px;
}

section .cols {
    display: flex;
}

.titulo {
    text-align: center;
    font-size: 2.3em;
}

.titulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #3E95BF;
    margin: 1px auto;
    border-radius: 10px;
}

.subtitulo {
    color: #000;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #fff;
    margin: 1px auto;
    border-radius: 10px;    
}

section p {
    font-size: 1.2em;
    letter-spacing: .1em;
    line-height: 25px;
    text-align: center;
    font-family: sans-serif;
}

.cols {
    background-color: #3E95BF;
    color: #fff;
}

.col1,
.col2,
.col3 {
    width: 30%;
    margin: 20px auto;
    text-align: center;
}

article {
    grid-area: article;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.devs {
    display: flex;
    flex-direction: column;
}

.aut-dev {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #dfdfdf;
}

.devs p {
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 1em;
}

.dev {
    width: 150px;
    border-radius: 50%;
}

.autor1,
.autor2,
.autor3,
.autor4,
.autor5 {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 30px;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cols-sobre {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    color: #fff;    
    background-color: #3E95BF;
    margin-top: 10px;
}

.cols-sobre h3 {
    color: #000;
}

.contact-area1,
.contact-area2 {
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.contact-area1 li {
    list-style: none;
    text-align: center;
    margin-left: -40px;
}

.contact-area1 p {
    text-align: center;
}

.contact-area1 h3::after,
.contact-area2 h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #fff;
    margin: 1px auto;
    border-radius: 10px;    
}

.contact-area2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.tuto-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-area2 p {
    text-align: center;
    width: 300px;
}

.area-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.area-app img{
    width: 80px;
    margin-right: 50px;
}

.area-app button {
    border: none;
    height: auto;
    width: auto;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #3E95BF;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1em;
}

.area-app button:hover {
    border: 1px solid #3E95BF;
    background-color: #fff;
    color: #3E95BF;
}

.copy {
    grid-area: copy;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #3E95BF;
}

@media (max-width: 750px) {
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        margin-right: 80px;
    }
    .menu-aux {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .menu-aux ul {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-aux ul a {
        color: #3E95BF;
    }
    .menu-aux ul a:hover {
        color: #000;
    }
    .menu-aux img {
        margin-top: 20px;
    }
    .aut-dev {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #fff;
    } 
    .autor1,
    .autor2,
    .autor3,
    .autor4,
    .autor5 {
        width: 100px;
        margin: 20px auto;
        text-align: center;
        padding: 0px;
    }
    .cols {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .col1, .col2, .col3 {
        width: 100%;
    }
    .devs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 370px;
    }
    .autor1,
    .autor2,
    .autor3,
    .autor4,
    .autor5 { 
        background-color: #dfdfdf;
        border-radius: 10px;
        height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .autor1 img,
    .autor2 img,
    .autor3 img,
    .autor4 img,
    .autor5 img {
        width: 70px;
        padding: 5px;
    }
    .autor1 a img,
    .autor2 a img,
    .autor3 a img,
    .autor4 a img,
    .autor5 a img {
        width: 40px;
    }
    .cols-sobre {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
        top: 400px;
    }
    .contact-area2 button {
        height: auto;
    }
    footer {
        position: relative;
        top: 20%;
    }
    .titulo.cont {
        display: none;
    }
    .copy {
        display: none;
    }
}